In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_train=pd.read_excel("C:\\Pandasdata\\DT_files\\rest_train.xlsx")

In [3]:
df_test=pd.read_excel("C:\\Pandasdata\\DT_files\\rest_test.xlsx")

In [4]:
df_train.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300

In [5]:
df_test.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes
3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes

In [6]:
df_train["source"]="train"
df_test['source']='test'

In [7]:
df=pd.concat([df_train,df_test])

In [8]:
df.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,source
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200.0,train
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500.0,train
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800.0,train
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800.0,train
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300.0,train

In [9]:
df.shape

(16921, 10)

In [10]:
df.reset_index(drop=True,inplace=True)

In [11]:
df.dtypes

TITLE             object
RESTAURANT_ID      int64
CUISINES          object
TIME              object
CITY              object
LOCALITY          object
RATING            object
VOTES             object
COST             float64
source            object
dtype: object

In [13]:
for cols in df.columns:
    if df[cols].dtype=='object':
        print(df[cols].value_counts())
        print()

QUICK BITES                 5634
CASUAL DINING               4910
None                        1287
CAFÉ                         830
DESSERT PARLOR               508
                            ...
QUICK BITES,MEAT SHOP          1
MEAT SHOP                      1
DESSERT PARLOR,KIOSK           1
MICROBREWERY,LOUNGE            1
BEVERAGE SHOP,FOOD COURT       1
Name: TITLE, Length: 123, dtype: int64

North Indian                                            716
North Indian, Chinese                                   714
South Indian                                            706
Fast Food                                               364
Chinese                                                 226
                                                       ...
North Indian, Chinese, European, Finger Food              1
North Indian, Asian, Continental, Italian                 1
Chinese, Lebanese, Arabian                                1
Bakery, Street Food, Sandwich                             1
Burger, Continental, European, Italian, Pizza, Salad      1
Name: CUISINES, Length: 5183, dtype: int64

11am – 11pm (Mon-Sun)                               1862
12noon – 12midnight (Mon-Sun)                        615
12noon – 11pm (Mon-Sun)                              541
11am – 12midnight (Mon-Sun)                          419
10am – 10pm (Mon-Sun)                                288
                                                    ...
11am – 11pm (Mon-Thu),11am – 11:55pm (Fri-Sun)         1
12noon – 1am (Mon, Wed, Thu), 12noon – 1:30am...       1
12noon – 12midnight (Mon, Tue, Wed, Thu, Sat)...       1
Closed (Mon),12noon – 9:30pm (Tue-Sun)                 1
12noon – 3pm, 7:30pm – 11:45pm (Mon-Sun)               1
Name: TIME, Length: 3295, dtype: int64

Chennai                    2855
Bangalore                  2835
Hyderabad                  2458
Mumbai                     2311
New Delhi                  1754
                           ...
Miumbai                       1
Sholinganallur. Chennai       1
Chennai Thousand Lights       1
Vandalur                      1
Mehdipatnam Hyderabad         1
Name: CITY, Length: 450, dtype: int64

Gachibowli                                  216
Indiranagar                                 187
Kakkanad                                    175
Kukatpally                                  171
Madhapur                                    169
                                           ...
Near Perambur                                 1
India                                         1
Electronics City Phase 1 Electronic City      1
St Matin Road                                 1
Bandra Reclamation Dock                       1
Name: LOCALITY, Length: 1636, dtype: int64

3.9    1643
3.8    1604
4.0    1498
3.7    1437
3.6    1261
4.1    1217
3.5     988
4.2     968
NEW     930
3.4     777
4.3     740
-       672
3.3     485
4.4     484
3.2     349
4.5     274
3.1     263
2.9     242
3.0     229
2.8     191
4.6     184
2.7     129
4.7      90
2.6      85
2.5      51
4.8      49
4.9      28
2.4      24
2.3      15
2.1       4
2.2       4
2.0       2
Name: RATING, dtype: int64

44 votes      92
22 votes      88
6 votes       87
29 votes      83
24 votes      81
              ..
1926 votes     1
2097 votes     1
2007 votes     1
1735 votes     1
3503 votes     1
Name: VOTES, Length: 2075, dtype: int64

train    12690
test      4231
Name: source, dtype: int64

In [19]:
for cols in df.columns:
    if df[cols].dtype=='object':
        print(df[cols].nunique())
        print()

123

5183

3295

450

1636

32

2075

2

In [21]:
#checking Null values
df.isnull().sum()

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              147
LOCALITY          128
RATING              4
VOTES            1606
COST             4231
source              0
dtype: int64

In [26]:
df['VOTES']

0         49 votes
1         30 votes
2        221 votes
3         24 votes
4        165 votes
           ...
16916    287 votes
16917    469 votes
16918     53 votes
16919          NaN
16920     63 votes
Name: VOTES, Length: 16921, dtype: object

In [27]:
# Replacing 1606 nan values in Votes to 0
df['VOTES'].fillna(0,inplace=True)

In [36]:
# we can also strip text "votes" and make it int
df['VOTES'].loc[df['VOTES'].str[-5:]=='votes']=df['VOTES'].loc[df['VOTES'].str[-5:]=='votes'].str.rstrip("votes")

In [37]:
df['VOTES']

0         49
1         30
2        221
3         24
4        165
         ...
16916    287
16917    469
16918     53
16919       0
16920     63
Name: VOTES, Length: 16921, dtype: object

In [38]:
df['VOTES']=df['VOTES'].astype(int)

In [28]:
df.isnull().sum()

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              147
LOCALITY          128
RATING              4
VOTES               0
COST             4231
source              0
dtype: int64

In [29]:
df['RATING'].value_counts()

3.9    1643
3.8    1604
4.0    1498
3.7    1437
3.6    1261
4.1    1217
3.5     988
4.2     968
NEW     930
3.4     777
4.3     740
-       672
3.3     485
4.4     484
3.2     349
4.5     274
3.1     263
2.9     242
3.0     229
2.8     191
4.6     184
2.7     129
4.7      90
2.6      85
2.5      51
4.8      49
4.9      28
2.4      24
2.3      15
2.1       4
2.2       4
2.0       2
Name: RATING, dtype: int64

In [30]:
# there are NEW and '-' in the Rating. let us replace them
df["RATING"].replace("NEW",0,inplace=True)
df["RATING"].replace("-",0,inplace=True)
df["RATING"].fillna(0,inplace=True)

In [31]:
df['RATING'].isnull().sum()

0

In [35]:
df['RATING']=df['RATING'].astype(float)

In [40]:
df.dtypes

TITLE             object
RESTAURANT_ID      int64
CUISINES          object
TIME              object
CITY              object
LOCALITY          object
RATING           float64
VOTES              int32
COST             float64
source            object
dtype: object

In [41]:
df.isnull().sum()

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              147
LOCALITY          128
RATING              0
VOTES               0
COST             4231
source              0
dtype: int64

In [42]:
df["CITY"].fillna("missing",inplace=True)
df["LOCALITY"].fillna("missing",inplace=True)

In [43]:
df.isnull().sum()

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY                0
LOCALITY            0
RATING              0
VOTES               0
COST             4231
source              0
dtype: int64

In [44]:
df

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,source
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49,1200.0,train
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30,1500.0,train
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221,800.0,train
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24,800.0,train
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165,300.0,train
...,...,...,...,...,...,...,...,...,...,...
16916,CASUAL DINING,9057,"North Indian, Mughlai, Chinese",11:30am – 11:30pm (Mon-Sun),New Delhi,Punjabi Bagh,3.9,287,NaN,test
16917,None,1247,"Biryani, North Indian, Sandwich, Salad, Wraps",11am – 1am (Mon-Sun),Bangalore,HSR Layout,4.3,469,NaN,test
16918,QUICK BITES,8617,"Continental, North Indian",9:30am – 10:30pm (Mon-Sun),Faridabad,Sector 86,3.7,53,NaN,test
16919,QUICK BITES,6485,"Rolls, Beverages","11am – 11:30pm (Mon, Tue, Wed, Thu, Sat, Sun),...",Kochi,Kochi,0.0,0,NaN,test
16920,QUICK BITES,2421,Mughlai,5pm – 1am (Mon-Sun),Bandra West,Perry Cross Road,3.7,63,NaN,test

In [45]:
# let us strip Title and cusines in to multiple columns.
# before that let us remove Restaurant ID and Time
df.drop('RESTAURANT_ID',axis=1,inplace=True)
df.drop('TIME',axis=1,inplace=True)

In [47]:
# we will see how many splits were there in Cusine
max_cusine=1
for i in range(len(df['CUISINES'])):
    temp =len(df['CUISINES'].iloc[i].split(","))
    if temp > max_cusine:
        max_cusine=temp
print("Max Cusines= ",max_cusine)

Max Cusines=  8

In [48]:
c1=list()
c2=list()
c3=list()
c4=list()
c5=list()
c6=list()
c7=list()
c8=list()

for i in range(len(df['CUISINES'])):
    temp=df["CUISINES"].iloc[i].split(",")
    
    try:
        c1.append(temp[0].strip().upper())
    except :
        c1.append('NONE')
    try :
        c2.append(temp[1].strip().upper())
    except :
        c2.append('NONE')
    try :
        c3.append(temp[2].strip().upper())
    except :
        c3.append('NONE')
    try :
        c4.append(temp[3].strip().upper())
    except :
        c4.append('NONE')
    try :
        c5.append(temp[4].strip().upper())
    except :
        c5.append('NONE')
    try :
        c6.append(temp[5].strip().upper())
    except :
        c6.append('NONE')
    try :
        c7.append(temp[6].strip().upper())
    except :
        c7.append('NONE')
    try :
        c8.append(temp[7].strip().upper())
    except :
        c8.append('NONE')

In [49]:
df["c1"]=c1
df["c2"]=c2
df["c3"]=c3
df["c4"]=c4
df["c5"]=c5
df["c6"]=c6
df["c7"]=c7
df["c8"]=c8

In [51]:
# in the same way let us also split Title
max_title=1
for i in range(len(df['TITLE'])):
    temp =len(df["TITLE"].iloc[i].split(","))
    if temp > max_title:
        max_title=temp
print("Max No of Titles are= ", max_title)

Max No of Titles are=  2

In [52]:
t1=list()
t2=list()

In [53]:
for i in range(len(df["TITLE"])):
    temp=df["TITLE"].iloc[i].split(",")
    try :
        t1.append(temp[0].strip().upper())
    except :
        t1.append('NONE')
    try :
        t2.append(temp[1].strip().upper())
    except :
        t2.append('NONE')

In [54]:
df['t1']=t1
df['t2']=t2

In [55]:
df

,TITLE,CUISINES,CITY,LOCALITY,RATING,VOTES,COST,source,c1,c2,c3,c4,c5,c6,c7,c8,t1,t2
0,CASUAL DINING,"Malwani, Goan, North Indian",Thane,Dombivali East,3.6,49,1200.0,train,MALWANI,GOAN,NORTH INDIAN,NONE,NONE,NONE,NONE,NONE,CASUAL DINING,NONE
1,"CASUAL DINING,BAR","Asian, Modern Indian, Japanese",Chennai,Ramapuram,4.2,30,1500.0,train,ASIAN,MODERN INDIAN,JAPANESE,NONE,NONE,NONE,NONE,NONE,CASUAL DINING,BAR
2,CASUAL DINING,"North Indian, Chinese, Biryani, Hyderabadi",Chennai,Saligramam,3.8,221,800.0,train,NORTH INDIAN,CHINESE,BIRYANI,HYDERABADI,NONE,NONE,NONE,NONE,CASUAL DINING,NONE
3,QUICK BITES,"Tibetan, Chinese",Mumbai,Bandra West,4.1,24,800.0,train,TIBETAN,CHINESE,NONE,NONE,NONE,NONE,NONE,NONE,QUICK BITES,NONE
4,DESSERT PARLOR,Desserts,Mumbai,Lower Parel,3.8,165,300.0,train,DESSERTS,NONE,NONE,NONE,NONE,NONE,NONE,NONE,DESSERT PARLOR,NONE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16916,CASUAL DINING,"North Indian, Mughlai, Chinese",New Delhi,Punjabi Bagh,3.9,287,NaN,test,NORTH INDIAN,MUGHLAI,CHINESE,NONE,NONE,NONE,NONE,NONE,CASUAL DINING,NONE
16917,None,"Biryani, North Indian, Sandwich, Salad, Wraps",Bangalore,HSR Layout,4.3,469,NaN,test,BIRYANI,NORTH INDIAN,SANDWICH,SALAD,WRAPS,NONE,NONE,NONE,NONE,NONE
16918,QUICK BITES,"Continental, North Indian",Faridabad,Sector 86,3.7,53,NaN,test,CONTINENTAL,NORTH INDIAN,NONE,NONE,NONE,NONE,NONE,NONE,QUICK BITES,NONE
16919,QUICK BITES,"Rolls, Beverages",Kochi,Kochi,0.0,0,NaN,test,ROLLS,BEVERAGES,NONE,NONE,NONE,NONE,NONE,NONE,QUICK BITES,NONE
16920,QUICK BITES,Mughlai,Bandra West,Perry Cross Road,3.7,63,NaN,test,MUGHLAI,NONE,NONE,NONE,NONE,NONE,NONE,NONE,QUICK BITES,NONE

In [57]:
df.drop(columns=["CUISINES","TITLE"],inplace=True)

In [58]:
df.dtypes

CITY         object
LOCALITY     object
RATING      float64
VOTES         int32
COST        float64
source       object
c1           object
c2           object
c3           object
c4           object
c5           object
c6           object
c7           object
c8           object
t1           object
t2           object
dtype: object

In [62]:
from sklearn.preprocessing import LabelEncoder
for col in df.columns:
    if df[col].dtype=="object":
        df[col]=LabelEncoder().fit_transform(df[col])

In [63]:
df

,CITY,LOCALITY,RATING,VOTES,COST,source,c1,c2,c3,c4,c5,c6,c7,c8,t1,t2
0,400,328,3.6,49,1200.0,1,61,32,72,64,62,50,41,18,5,16
1,75,1214,4.2,30,1500.0,1,6,62,45,64,62,50,41,18,5,1
2,75,1272,3.8,221,800.0,1,74,23,14,34,62,50,41,18,5,16
3,277,161,4.1,24,800.0,1,102,23,70,64,62,50,41,18,23,16
4,277,709,3.8,165,300.0,1,30,67,70,64,62,50,41,18,9,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16916,316,1184,3.9,287,NaN,0,74,64,23,64,62,50,41,18,5,16
16917,42,461,4.3,469,NaN,0,15,69,83,73,83,50,41,18,20,16
16918,128,1370,3.7,53,NaN,0,29,69,70,64,62,50,41,18,23,16
16919,216,642,0.0,0,NaN,0,84,12,70,64,62,50,41,18,23,16
16920,40,1148,3.7,63,NaN,0,69,67,70,64,62,50,41,18,23,16

In [64]:
df.dtypes

CITY          int32
LOCALITY      int32
RATING      float64
VOTES         int32
COST        float64
source        int32
c1            int32
c2            int32
c3            int32
c4            int32
c5            int32
c6            int32
c7            int32
c8            int32
t1            int32
t2            int32
dtype: object

In [66]:
# Splitting the dataset
df_train=df.loc[df["source"]==1]
df_test=df.loc[df["source"]==0]

In [67]:
df_test.reset_index(drop=True,inplace=True)

In [68]:
df_train.drop(columns=["source"],inplace=True)
df_test.drop(columns=["source"],inplace=True)

In [69]:
x=df_train.drop(columns=["COST"])
y=df_train[["COST"]]

In [70]:
x.shape,y.shape

((12690, 14), (12690, 1))

In [71]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_squared_log_error, r2_score
def max_r2_score(algo,x,y):
    max_r_score=0
    for r_state in range(42,100):
        x_train, x_test, y_train, y_test = train_test_split(x, y,random_state = r_state,test_size=0.20)
        algo.fit(x_train,y_train)
        y_pred = algo.predict(x_test)
        r2_scr=r2_score(y_test,y_pred)
        print("r2 score corresponding to ",r_state," is ",r2_scr)
        if r2_scr>max_r_score:
            max_r_score=r2_scr
            final_r_state=r_state
    print("max r2 score corresponding to ",final_r_state," is ",max_r_score)
    return final_r_state

In [72]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
x=ss.fit_transform(x)

In [73]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
max_r2_score(lr,x,y)

r2 score corresponding to  42  is  0.20991089335055102
r2 score corresponding to  43  is  0.1821078975374434
r2 score corresponding to  44  is  0.1894847621225233
r2 score corresponding to  45  is  0.2049669320443106
r2 score corresponding to  46  is  0.21703373736882658
r2 score corresponding to  47  is  0.18573537813603513
r2 score corresponding to  48  is  0.15152286658184977
r2 score corresponding to  49  is  0.14433241184485512
r2 score corresponding to  50  is  0.16732458661656735
r2 score corresponding to  51  is  0.22354379924455559
r2 score corresponding to  52  is  0.13157227829201168
r2 score corresponding to  53  is  0.22194668808588625
r2 score corresponding to  54  is  0.1612088447014317
r2 score corresponding to  55  is  0.21204197727958385
r2 score corresponding to  56  is  0.19849926584081523
r2 score corresponding to  57  is  0.20722098869274796
r2 score corresponding to  58  is  0.1569394166011796
r2 score corresponding to  59  is  0.221090461182185
r2 score corresponding to  60  is  0.20821594326839865
r2 score corresponding to  61  is  0.22897116640937354
r2 score corresponding to  62  is  0.18487299751542263
r2 score corresponding to  63  is  0.2073391324520999
r2 score corresponding to  64  is  0.17140533676079495
r2 score corresponding to  65  is  0.20076542622133586
r2 score corresponding to  66  is  0.1845429213341182
r2 score corresponding to  67  is  0.24644641651590515
r2 score corresponding to  68  is  0.16836885817217728
r2 score corresponding to  69  is  0.12417225701677281
r2 score corresponding to  70  is  0.2168618939112107
r2 score corresponding to  71  is  0.20707197912218223
r2 score corresponding to  72  is  0.22815664109693834
r2 score corresponding to  73  is  0.21733636767461406
r2 score corresponding to  74  is  0.18787659548997482
r2 score corresponding to  75  is  0.15478653066100934
r2 score corresponding to  76  is  0.19611294659765854
r2 score corresponding to  77  is  0.16722934725982397
r2 score corresponding to  78  is  0.14580653462570048
r2 score corresponding to  79  is  0.227641943502232
r2 score corresponding to  80  is  0.18467252571144288
r2 score corresponding to  81  is  0.19057387992467667
r2 score corresponding to  82  is  0.20055355294131405
r2 score corresponding to  83  is  0.1914006202920039
r2 score corresponding to  84  is  0.17787835389694084
r2 score corresponding to  85  is  0.21301549525882602
r2 score corresponding to  86  is  0.19727243883546375
r2 score corresponding to  87  is  0.20374692021903607
r2 score corresponding to  88  is  0.2209890868614378
r2 score corresponding to  89  is  0.21807992200967297
r2 score corresponding to  90  is  0.19639859701216722
r2 score corresponding to  91  is  0.21714624523435477
r2 score corresponding to  92  is  0.1968874226913443
r2 score corresponding to  93  is  0.19496552788248778
r2 score corresponding to  94  is  0.23430611441868066
r2 score corresponding to  95  is  0.23069462376539118
r2 score corresponding to  96  is  0.18510469867058899
r2 score corresponding to  97  is  0.18173747069624013
r2 score corresponding to  98  is  0.16722314082676426
r2 score corresponding to  99  is  0.19024337379318124
max r2 score corresponding to  67  is  0.24644641651590515

67

In [74]:
from sklearn.tree import DecisionTreeRegressor
dtr=DecisionTreeRegressor()
max_r2_score(dtr,x,y)

r2 score corresponding to  42  is  0.47411405338634494
r2 score corresponding to  43  is  0.49602467677654316
r2 score corresponding to  44  is  0.408404729368534
r2 score corresponding to  45  is  0.48786606253747755
r2 score corresponding to  46  is  0.42706264898573043
r2 score corresponding to  47  is  0.5322416465455877
r2 score corresponding to  48  is  -0.01558493071963496
r2 score corresponding to  49  is  0.45011113915764267
r2 score corresponding to  50  is  0.09026635352573897
r2 score corresponding to  51  is  0.468458779620724
r2 score corresponding to  52  is  0.39698052512977544
r2 score corresponding to  53  is  0.4933364860010392
r2 score corresponding to  54  is  0.37746964198436117
r2 score corresponding to  55  is  0.4620579086062975
r2 score corresponding to  56  is  0.5042644898556001
r2 score corresponding to  57  is  0.4234440507369833
r2 score corresponding to  58  is  0.4699078974152773
r2 score corresponding to  59  is  0.40803874480695956
r2 score corresponding to  60  is  0.40220601365401976
r2 score corresponding to  61  is  0.4853757317759281
r2 score corresponding to  62  is  0.39756996638487163
r2 score corresponding to  63  is  0.26098331895038507
r2 score corresponding to  64  is  0.39442727115887655
r2 score corresponding to  65  is  0.1743341643094306
r2 score corresponding to  66  is  0.3608470622142106
r2 score corresponding to  67  is  0.327012716606767
r2 score corresponding to  68  is  0.49352616859931964
r2 score corresponding to  69  is  0.5430881028173553
r2 score corresponding to  70  is  0.5010952103578281
r2 score corresponding to  71  is  0.459817342809549
r2 score corresponding to  72  is  0.3490484838747253
r2 score corresponding to  73  is  0.23183417160299258
r2 score corresponding to  74  is  0.42456836963723477
r2 score corresponding to  75  is  0.4977646096893724
r2 score corresponding to  76  is  0.507449306701147
r2 score corresponding to  77  is  0.518325528376862
r2 score corresponding to  78  is  0.472171220401726
r2 score corresponding to  79  is  0.29715376132038684
r2 score corresponding to  80  is  0.550566032258794
r2 score corresponding to  81  is  0.38869960890831345
r2 score corresponding to  82  is  0.43638808970048204
r2 score corresponding to  83  is  0.4143719934747925
r2 score corresponding to  84  is  0.404744113714289
r2 score corresponding to  85  is  0.4288421840370864
r2 score corresponding to  86  is  0.5423543247133356
r2 score corresponding to  87  is  0.1267103457221862
r2 score corresponding to  88  is  0.49555307311086916
r2 score corresponding to  89  is  0.4670466668249468
r2 score corresponding to  90  is  0.5255047674587892
r2 score corresponding to  91  is  0.45866815924626325
r2 score corresponding to  92  is  0.33735174806177026
r2 score corresponding to  93  is  0.5729779141740542
r2 score corresponding to  94  is  0.42733593213515364
r2 score corresponding to  95  is  0.4641854100427606
r2 score corresponding to  96  is  0.4679143235152383
r2 score corresponding to  97  is  0.3316858350878944
r2 score corresponding to  98  is  0.4594737913078172
r2 score corresponding to  99  is  0.4562335295698853
max r2 score corresponding to  93  is  0.5729779141740542

93

In [75]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
rf =RandomForestRegressor()
parameters={"n_estimators":[10,100,500]}
gsv=GridSearchCV(rf,parameters,cv=5,scoring='r2')
gsv.fit(x,y)
gsv.best_params_

{'n_estimators': 500}

In [76]:
rf=RandomForestRegressor(n_estimators=500)
max_r2_score(rf,x,y)

r2 score corresponding to  42  is  0.734899857781832
r2 score corresponding to  43  is  0.7465675226214585
r2 score corresponding to  44  is  0.7170544903952429
r2 score corresponding to  45  is  0.6970113962493943
r2 score corresponding to  46  is  0.7380638252891718
r2 score corresponding to  47  is  0.7101764166345046
r2 score corresponding to  48  is  0.6053212207780161
r2 score corresponding to  49  is  0.6398120468838919
r2 score corresponding to  50  is  0.7107518799496103
r2 score corresponding to  51  is  0.725585835588533
r2 score corresponding to  52  is  0.6211317597471926
r2 score corresponding to  53  is  0.7243635677229397
r2 score corresponding to  54  is  0.6930073326834528
r2 score corresponding to  55  is  0.752072681502419
r2 score corresponding to  56  is  0.7248664742415902
r2 score corresponding to  57  is  0.6866018831072848
r2 score corresponding to  58  is  0.6308617156116023
r2 score corresponding to  59  is  0.7234151786644566
r2 score corresponding to  60  is  0.737961843013301
r2 score corresponding to  61  is  0.6908876111676256
r2 score corresponding to  62  is  0.6299775982069139
r2 score corresponding to  63  is  0.714459463959792
r2 score corresponding to  64  is  0.6709285979917826
r2 score corresponding to  65  is  0.694656870985455
r2 score corresponding to  66  is  0.7279812764097116
r2 score corresponding to  67  is  0.6797312916965548
r2 score corresponding to  68  is  0.7260034700185058
r2 score corresponding to  69  is  0.6614861824332718
r2 score corresponding to  70  is  0.7309338317489771
r2 score corresponding to  71  is  0.7373746273453792
r2 score corresponding to  72  is  0.7391021063453365
r2 score corresponding to  73  is  0.6666556120608654
r2 score corresponding to  74  is  0.7449141070207504
r2 score corresponding to  75  is  0.6863538827411134
r2 score corresponding to  76  is  0.7484056893502904
r2 score corresponding to  77  is  0.750271204465494
r2 score corresponding to  78  is  0.6643741453952672
r2 score corresponding to  79  is  0.7361498183632667
r2 score corresponding to  80  is  0.7213422095537384
r2 score corresponding to  81  is  0.728256246366221
r2 score corresponding to  82  is  0.7122303856713579
r2 score corresponding to  83  is  0.6554707688854582
r2 score corresponding to  84  is  0.7251595145728127
r2 score corresponding to  85  is  0.7069806527263232
r2 score corresponding to  86  is  0.7264671669383967
r2 score corresponding to  87  is  0.714917630033754
r2 score corresponding to  88  is  0.7215225503391465
r2 score corresponding to  89  is  0.7095283270006728
r2 score corresponding to  90  is  0.7245357514818771
r2 score corresponding to  91  is  0.7293603539075266
r2 score corresponding to  92  is  0.7157162177194594
r2 score corresponding to  93  is  0.7338818906306004
r2 score corresponding to  94  is  0.7308210367230014
r2 score corresponding to  95  is  0.7137041503533257
r2 score corresponding to  96  is  0.6468518780562833
r2 score corresponding to  97  is  0.6300207547515955
r2 score corresponding to  98  is  0.7024073302803415
r2 score corresponding to  99  is  0.7048394768529558
max r2 score corresponding to  55  is  0.752072681502419

55

In [79]:
from sklearn.svm import SVR
svr=SVR()
parameters={"kernel":["linear", "poly", "rbf"]}
gsv = GridSearchCV(svr, parameters, cv=5,scoring="r2")
gsv.fit(x,y)
gsv.best_params_

{'kernel': 'linear'}

In [80]:
svr=SVR(kernel='linear')
max_r2_score(svr,x,y)

r2 score corresponding to  42  is  0.16290972887392474
r2 score corresponding to  43  is  0.12831760856187657
r2 score corresponding to  44  is  0.1489104153026074
r2 score corresponding to  45  is  0.15864599491246711
r2 score corresponding to  46  is  0.17123206083141906
r2 score corresponding to  47  is  0.13081188930261156
r2 score corresponding to  48  is  0.09474412849633362
r2 score corresponding to  49  is  0.10291131141841425
r2 score corresponding to  50  is  0.10595102669713552
r2 score corresponding to  51  is  0.1838664297705096
r2 score corresponding to  52  is  0.09241335072848422
r2 score corresponding to  53  is  0.18885564473202188
r2 score corresponding to  54  is  0.11605651033304476
r2 score corresponding to  55  is  0.17056998614164498
r2 score corresponding to  56  is  0.15633102812095268
r2 score corresponding to  57  is  0.16820296667449142
r2 score corresponding to  58  is  0.10499085373228612
r2 score corresponding to  59  is  0.1787560649877702
r2 score corresponding to  60  is  0.16292298514734926
r2 score corresponding to  61  is  0.18127371407190584
r2 score corresponding to  62  is  0.13923968541001575
r2 score corresponding to  63  is  0.15998264988368682
r2 score corresponding to  64  is  0.12636744407248157
r2 score corresponding to  65  is  0.15337499091674145
r2 score corresponding to  66  is  0.13681576615241287
r2 score corresponding to  67  is  0.18908836537659113
r2 score corresponding to  68  is  0.11489607329437412
r2 score corresponding to  69  is  0.07570152420179732
r2 score corresponding to  70  is  0.17149595974271592
r2 score corresponding to  71  is  0.15064943404152964
r2 score corresponding to  72  is  0.18068301880688198
r2 score corresponding to  73  is  0.1770701249199904
r2 score corresponding to  74  is  0.1489145361316322
r2 score corresponding to  75  is  0.10536324618946324
r2 score corresponding to  76  is  0.1422477957218662
r2 score corresponding to  77  is  0.10801732148833998
r2 score corresponding to  78  is  0.10441459273277864
r2 score corresponding to  79  is  0.1933784452805889
r2 score corresponding to  80  is  0.1400821079608764
r2 score corresponding to  81  is  0.13032998188994538
r2 score corresponding to  82  is  0.15702106649640957
r2 score corresponding to  83  is  0.14978767919433378
r2 score corresponding to  84  is  0.12812751702561986
r2 score corresponding to  85  is  0.16133733724723343
r2 score corresponding to  86  is  0.14885694259864657
r2 score corresponding to  87  is  0.16596919512779307
r2 score corresponding to  88  is  0.1775510815947161
r2 score corresponding to  89  is  0.18072641861832317
r2 score corresponding to  90  is  0.14450298384095717
r2 score corresponding to  91  is  0.17231672259496622
r2 score corresponding to  92  is  0.14447813112981878
r2 score corresponding to  93  is  0.14962246117475253
r2 score corresponding to  94  is  0.19969081653835263
r2 score corresponding to  95  is  0.1921318836555863
r2 score corresponding to  96  is  0.15252509524583735
r2 score corresponding to  97  is  0.14018755650051073
r2 score corresponding to  98  is  0.13017406132420595
r2 score corresponding to  99  is  0.1545318807389252
max r2 score corresponding to  94  is  0.19969081653835263

94

In [81]:
from sklearn.ensemble import GradientBoostingRegressor
gbr=GradientBoostingRegressor()
max_r2_score(gbr,x,y)

r2 score corresponding to  42  is  0.71215207857654
r2 score corresponding to  43  is  0.72784917572558
r2 score corresponding to  44  is  0.7194807300325492
r2 score corresponding to  45  is  0.6758265527591675
r2 score corresponding to  46  is  0.7162502147850575
r2 score corresponding to  47  is  0.6934362577838136
r2 score corresponding to  48  is  0.6987095903968223
r2 score corresponding to  49  is  0.6109747917794406
r2 score corresponding to  50  is  0.7164391509479868
r2 score corresponding to  51  is  0.7107150019785573
r2 score corresponding to  52  is  0.607971174647485
r2 score corresponding to  53  is  0.6936946322418419
r2 score corresponding to  54  is  0.7077463308304748
r2 score corresponding to  55  is  0.7076609154075273
r2 score corresponding to  56  is  0.6688112777054936
r2 score corresponding to  57  is  0.6924940585898385
r2 score corresponding to  58  is  0.6121426313380323
r2 score corresponding to  59  is  0.7335604709622374
r2 score corresponding to  60  is  0.7109196558194071
r2 score corresponding to  61  is  0.7083359862772576
r2 score corresponding to  62  is  0.6299648125546502
r2 score corresponding to  63  is  0.7011759122628307
r2 score corresponding to  64  is  0.6339765687338376
r2 score corresponding to  65  is  0.722033390472642
r2 score corresponding to  66  is  0.706053162415176
r2 score corresponding to  67  is  0.7009303156512785
r2 score corresponding to  68  is  0.7224977985519063
r2 score corresponding to  69  is  0.621030733179869
r2 score corresponding to  70  is  0.6841301099295474
r2 score corresponding to  71  is  0.7202955801486925
r2 score corresponding to  72  is  0.7212864253201542
r2 score corresponding to  73  is  0.6735130371601561
r2 score corresponding to  74  is  0.700140897987073
r2 score corresponding to  75  is  0.6329314844963693
r2 score corresponding to  76  is  0.7179925795053717
r2 score corresponding to  77  is  0.7301021853112177
r2 score corresponding to  78  is  0.6174492036040252
r2 score corresponding to  79  is  0.7226819123834618
r2 score corresponding to  80  is  0.6937487954014784
r2 score corresponding to  81  is  0.7080457418009674
r2 score corresponding to  82  is  0.7323947141731943
r2 score corresponding to  83  is  0.6106101512306853
r2 score corresponding to  84  is  0.6965964981686021
r2 score corresponding to  85  is  0.7077397675236837
r2 score corresponding to  86  is  0.712799253311392
r2 score corresponding to  87  is  0.6982729385527943
r2 score corresponding to  88  is  0.6914606317055572
r2 score corresponding to  89  is  0.7032660645107712
r2 score corresponding to  90  is  0.6945693233117085
r2 score corresponding to  91  is  0.7320788832736281
r2 score corresponding to  92  is  0.7051881659270556
r2 score corresponding to  93  is  0.7118774656381092
r2 score corresponding to  94  is  0.7301328891858776
r2 score corresponding to  95  is  0.7026826181772551
r2 score corresponding to  96  is  0.6054845628283162
r2 score corresponding to  97  is  0.6181246538603624
r2 score corresponding to  98  is  0.7066939891442944
r2 score corresponding to  99  is  0.6848419685610971
max r2 score corresponding to  59  is  0.7335604709622374

59

In [83]:
rf=RandomForestRegressor(n_estimators=500)
x_train, x_test,y_train, y_test =train_test_split(x,y,random_state=55, test_size=0.2)
rf.fit(x_train,y_train)
y_pred=rf.predict(x_test)

print("Mean Sq Error =", mean_squared_error(y_test,y_pred))
print("R2 Score= ", r2_score(y_test,y_pred))
print()
rmsle_scr=np.sqrt(mean_squared_log_error(y_test,y_pred))
print("RMSLE =", rmsle_scr)

Mean Sq Error = 89134.02214940767
R2 Score=  0.7508603064593814

RMSLE = 0.3892574025894957

In [84]:
import lightgbm as lgb

In [85]:
lg = lgb.LGBMRegressor(silent=False)
max_r2_score(lg,x,y)

[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.002584 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1056
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 659.003940
r2 score corresponding to  42  is  0.7489461633035385
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001013 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1055
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 656.597813
r2 score corresponding to  43  is  0.7646019400624386
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001705 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1044
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 658.378743
r2 score corresponding to  44  is  0.7317921248029338
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000845 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1055
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 655.171592
r2 score corresponding to  45  is  0.6908909849990241
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000709 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1044
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 655.039303
r2 score corresponding to  46  is  0.7531832447818512
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001857 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1049
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 653.854511
r2 score corresponding to  47  is  0.7279221164308844
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001228 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1058
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 652.326734
r2 score corresponding to  48  is  0.7300431825436351
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000720 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1055
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 656.820429
r2 score corresponding to  49  is  0.6580336786589687
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001184 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1052
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 654.858353
r2 score corresponding to  50  is  0.758357654589234
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.002947 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1051
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 656.935776
r2 score corresponding to  51  is  0.7496819006953208
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.002544 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1053
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 657.719760
r2 score corresponding to  52  is  0.6423077117884287
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001275 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1047
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 656.750493
r2 score corresponding to  53  is  0.7409811663095058
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000740 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1061
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 661.520095
r2 score corresponding to  54  is  0.7359414942657598
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.002162 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1047
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 655.218775
r2 score corresponding to  55  is  0.7547485122243766
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001007 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1044
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 655.698483
r2 score corresponding to  56  is  0.7274291922046513
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000771 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1049
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 658.375788
r2 score corresponding to  57  is  0.7174352802268987
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000713 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1057
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 653.320626
r2 score corresponding to  58  is  0.633686787036787
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001058 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1057
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 658.774724
r2 score corresponding to  59  is  0.7640373805541518
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001025 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1046
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 654.467297

r2 score corresponding to  60  is  0.7528262968543171
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000726 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1056
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 651.603822
r2 score corresponding to  61  is  0.7262833718612862
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000725 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1045
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 652.769996
r2 score corresponding to  62  is  0.6640396479263986
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000725 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1056
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 653.694050
r2 score corresponding to  63  is  0.7487461374102473
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000718 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1046
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 654.055260
r2 score corresponding to  64  is  0.6714208514282957
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000717 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1057
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 655.709318
r2 score corresponding to  65  is  0.7311926136904898
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000748 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1053
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 659.822498
r2 score corresponding to  66  is  0.7341379011240599
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000985 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1053
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 655.433511
r2 score corresponding to  67  is  0.7225572488717809
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000723 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1053
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 652.603526
r2 score corresponding to  68  is  0.7479660412708006
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.002592 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1057
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 652.113081
r2 score corresponding to  69  is  0.6676097757410063
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000751 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1058
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 656.948188
r2 score corresponding to  70  is  0.725804025352943
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000740 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1053
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 652.392730
r2 score corresponding to  71  is  0.7530801617512572
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000724 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1056
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 656.595843
r2 score corresponding to  72  is  0.7574927671130277
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.024044 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1046
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 657.876379
r2 score corresponding to  73  is  0.7057853892484005
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000768 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1056
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 659.658294
r2 score corresponding to  74  is  0.7516882886209593
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001185 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1050
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 650.308609
r2 score corresponding to  75  is  0.6779421988943652
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001248 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1055
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 661.063042
r2 score corresponding to  76  is  0.7517017602626711
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000800 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1051
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 656.681541
r2 score corresponding to  77  is  0.7635157634796172
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000727 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1057
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 649.737096

r2 score corresponding to  78  is  0.6733949862633377
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000748 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1051
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 659.638593
r2 score corresponding to  79  is  0.7504394058169312
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000766 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1052
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 650.080871
r2 score corresponding to  80  is  0.7388411354774691
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000745 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1050
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 651.448877
r2 score corresponding to  81  is  0.7391914200496408
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000758 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1056
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 658.619090
r2 score corresponding to  82  is  0.7723978068123186
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001685 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1050
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 653.902778
r2 score corresponding to  83  is  0.6565210479454864
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000713 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1049
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 656.144799
r2 score corresponding to  84  is  0.7381077070702025
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000740 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1060
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 655.844366
r2 score corresponding to  85  is  0.7437324808499879
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000812 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1050
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 649.973503
r2 score corresponding to  86  is  0.7445071652045574
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001593 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1047
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 655.675827
r2 score corresponding to  87  is  0.736068491455336
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000741 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1052
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 655.654255
r2 score corresponding to  88  is  0.7402811498689392
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000732 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1060
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 656.956166
r2 score corresponding to  89  is  0.7397094613609834
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001014 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1048
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 650.755615
r2 score corresponding to  90  is  0.7322771470213915
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001066 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1059
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 655.233649
r2 score corresponding to  91  is  0.7491454716449089
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.002696 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1056
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 653.403467
r2 score corresponding to  92  is  0.7524589106960158
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000760 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1055
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 653.736308
r2 score corresponding to  93  is  0.7602945693294139
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000743 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1057
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 660.450355
r2 score corresponding to  94  is  0.759618917408996
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000734 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1053
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 660.800630
r2 score corresponding to  95  is  0.7425781741857878
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000759 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1050
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 656.702029
r2 score corresponding to  96  is  0.6512887598158588
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000730 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1054
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 654.345745

r2 score corresponding to  97  is  0.6464511798612824
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000721 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1050
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 657.276596
r2 score corresponding to  98  is  0.7323763837031277
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000760 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1047
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 658.654551
r2 score corresponding to  99  is  0.7144592928194791
max r2 score corresponding to  82  is  0.7723978068123186

82

In [87]:
lg = lgb.LGBMRegressor(silent=False)
x_train, x_test,y_train, y_test =train_test_split(x,y,random_state=43, test_size=0.2)
lg.fit(x_train,y_train)
y_pred=lg.predict(x_test)
print("Mean Sq Error =", mean_squared_error(y_test,y_pred))
print("R2 Score= ", r2_score(y_test,y_pred))
print()
rmsle_scr=np.sqrt(mean_squared_log_error(y_test,y_pred))
print("RMSLE =", rmsle_scr)

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001365 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1055
[LightGBM] [Info] Number of data points in the train set: 10152, number of used features: 14
[LightGBM] [Info] Start training from score 656.597813
Mean Sq Error = 92991.47681409265
R2 Score=  0.7646019400624386

RMSLE = 0.4011537519355022

In [94]:
# we will finalize lgb model as the R2 score is high

In [89]:
df_test.drop('COST',axis=1,inplace=True)

In [90]:
rest_cost_pred_lg=lg.predict(df_test)

In [91]:
rest_cost_pred_lg

array([612.10625384, 612.10625384, 612.10625384, ..., 612.10625384,
       520.08452192, 612.10625384])

In [92]:
rest_cost_pred_lg=pd.DataFrame(rest_cost_pred_lg,columns=["COST"])

In [93]:
rest_cost_pred_lg.to_csv("Restaurat_cost_Predictions.csv",index=False)

In [95]:
import joblib
joblib.dump(lg,'Restaurant_cost_lg.pkl')

['Restaurant_cost_lg.pkl']